@import url('https://fonts.googleapis.com/css?family=Raleway:100|Work+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html {
  font-size: 18px;
}

h1{font-size: 2.10rem;}
h2{font-size: 1.5rem;}
h3{font-size: 1.125rem;}

h1, h2, h3, p, ul {
  font-family: Work Sans;
}

h3 {
  color: #686868;
}
/* put togography scheme at top*/
a {
  color: #000000;
  text-decoration: none;
}
nav ul {
  list-style: none;
  text-align: center;
  font-family: Open Sans;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav ul > li {
  padding: 10px 20px;
}

nav ul li:hover{
  background-color: #f5f5f5;
}

body {
  display: grid;
  margin: 12px;
}

img.website-header {
  display: grid;
  grid-template-rows: minmax (90px, 350px);
}

main {
  display: grid;
}


section#about {
  display: grid;
  grid-template-columns: 470px 470px;
  padding: 0px 100px 0px 100px;
}

.about {
  display: grid;
  grid-template-columns: 470px 470px;
  grid-column: 1;
  grid-row: 1;
  padding: 0px 0px 0px 0px;
}

.paragraph-a {
  grid-column: 2;
  grid-row: 2;
}

.sage {
  grid-column: 1 / span 2;
  grid-row: 2 / span 3;
}

.paragraph-b {
  grid-column: 2;
  grid-row: 3;
}

.paragraph-c{
  grid-column: 2;
  grid-row: 4;
}

section#resume {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 470px 470px;
  padding: 0px 0px 0px 100px;
}

.resume {
  grid-columns: 1;
  grid-row: 1;
  padding: 0px 150px 0px 0px;
}

.education {
  grid-columns: 1;
  grid-row: 2;
  text-align: left;
  padding: 0px 10px 0px 0px;
}

.experience {
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 3;
  padding: 0px 150px 0px 0px;
}

.organizations {
    grid-columns: 2;
    grid-row: 2;
    text-align: left;
    padding: 0px 30px 0px 0px;
  }

.contact {
    display: grid;
    padding: 0px 0px 0px 100px;
  }
