@import url('https://fonts.googleapis.com/css?family=Raleway:100|Work+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html {
  font-size: 18px;
}

h1{font-size: 2.25rem;font-weight: bold}
h2{font-size: 1.5rem;}
h3{font-size: 1.125rem;}

h1, h2, h3, p, ul {
  font-family: Work Sans;
}

h3 {
  color: #686868;
}
/* put togography scheme at top*/
nav ul {
  list-style: none;
  text-align: center;
  font-family: Open Sans;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav ul li {
  padding: 10px 20px;
}

nav ul li:hover{
  background-color: #f5f5f5;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}


img.website-header {
  float: left;
}

img.newsroom {
  float: right;
}

main ul li {
  font-family: Work Sans;
}

div.about{
  display: grid;
}


div.resume {
  text-align: center;
}
